html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: 'Roboto mono','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
    font-size: 16px;
    background-color: black;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

#main{
    padding: 60px 10px;
}

h1{
    margin-bottom: 10px;
    color: red;
}

#price{
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    font-size: larger;
}

#paid a{
    color: rgb(0, 153, 255);
}

#checkout{
    text-align: center;
    width: 203px;
    margin: 30px auto;
}

.form-group{
    margin-bottom: 10px;
}
  
input:focus{
    border-color: #b0e5e3;
    background-color: #EEF9F9;
}

#checkout a{
    display: inline-block;
    margin-top: 10px;
    padding: 6px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
    color: white;
    background-color: rgb(31, 185, 0);
}

#checkout a:hover{
    cursor: pointer;
    background-color: #00e244;
}

#attention{
    margin-top: 10px;
    font-weight: 600;
    color: red;
}
